.section {
    padding: 10px;
    .section__inner {
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        max-width: 1280px;
        margin: 0 auto;
    }
    .section__contents {
        max-width: 400px;
        margin-right: 10px;
    }
    .section__text {
        margin: 0;
    }
    .section__image {
        img {
            max-width: 100%;
            vertical-align: bottom;
        }
    }
}

@media screen and (max-width: 768px) {
    .section {
        .section__inner {
            display: block;
        }
        .section__image {
            img {
                width: 100%;
            }
        }
    }
}
